# Copyright Contributors to the KubeOpenCode project
# Kustomization for Argo Events resources.
# These resources replace the KubeOpenCode WebhookTrigger functionality.
#
# Prerequisites:
# 1. Install Argo Events: https://argoproj.github.io/argo-events/installation/
# 2. Ensure the EventBus controller is running
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeopencode-github
resources:
  - eventbus.yaml
  - rbac.yaml
  - eventsource-bot.yaml
  - eventsource-dev.yaml
  - sensor-bot.yaml
  - sensor-dev.yaml
  - deployment-smee-client.yaml
  - secrets.yaml