version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    vendor: true

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/agents/opencode"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/agents/devbox"
    schedule:
      interval: "weekly"

  - package-ecosystem: "helm"
    directory: "/charts/kubeopencode"
    schedule:
      interval: "weekly"
