{{- if .Values.server.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "kubeopencode.fullname" . }}-server
  namespace: {{ include "kubeopencode.namespace" . }}
  labels:
    {{- include "kubeopencode.server.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.server.service.type }}
  ports:
  - port: {{ .Values.server.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "kubeopencode.server.selectorLabels" . | nindent 4 }}
{{- end }}
